#intro {
    padding: 12px;
}

#branding {
    padding: 12px;
}

#dp {
    padding: 10px;
}

/* Projects */
.box-services2 {
    padding: 40px 20px 20px;
    border-bottom: 1px solid #d4d4d4;
    background: #f4f4f4;
}

.box-services2 .icon {
    text-align: center;
    font-size: 25px;
    color: #000;
}

.box-services2 p {
    color: #3f3f3f;
    text-align: center;
    font-size: 13px;
}