<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">Projects</h2>
            <!--<p class="text-center">Following are a few of my projects.</p>-->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="subheading">Android Projects</h3>
            <div class="box box-services2">
                <div class="icon"><img src="img/panicbutton5050.png" alt="Panic Button Logo"></i></div>
                <h4 class="heading">Panic Button</h4>
                <h5 class="text-center">Emergency First Aid & Panic Button</h5>
                <p class="text-center">Technology is advancing at the best of its pace. Every sector of our lives is
                    touched by its impact
                    but not the lives itself. This is our little effort towards saving lives.

                    An android application that provides latest First-Aid, information, treatment procedures and
                    instructions, hence providing relief in times of disaster or emergencies. This is an offline service
                    that can be accessed from anywhere and by anyone.</p>
                <p class="text-center"><a href="https://chiragbhatia94.github.io/PanicButton/">Visit Website</a></p>
                <a href="https://play.google.com/store/apps/details?id=com.urhive.panicbutton" target="_blank"><img
                        class="center-block" src="img/playstore.png" alt="Panic Button Playstore Link"></a>
            </div>


            <div class="box box-services2">
                <div class="icon"><img src="img/lockscreenmotivation5050.png" alt="Panic Button Logo"></i></div>
                <h4 class="heading">Lockscreen Motivation</h4>
                <h5 class="text-center">Android app that gets you motivated every time you check your phone!</h5>
                <p class="text-center">Get motivated every time you check your phone! First in class lock screen
                    motivator tool that befriends you to achieve your custom set target which works on any custom or
                    factory lock screen without root!! It is completely ad-free and open source.</p>
                <p class="text-center"><a href="https://chiragbhatia94.github.io/Lockscreen-Motivation/">Visit
                    Website</a></p>
                <a href="https://play.google.com/store/apps/details?id=com.urhive.lockscreendaycountdown"
                   target="_blank"><img class="center-block" src="img/playstore.png"
                                        alt="Lockscreen Motivation Playstore Link"></a>
            </div>

            <p>Other non published projects can be view on my <a href="https://github.com/chiragbhatia94">Github</a>
                page.</p>
        </div>
    </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-1.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-7.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-3.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-5.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-4.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-6.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-2.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="box">
                <a href="#" title=""><img src="img/portfolio-8.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>-->
